* {
    margin: 0;
    padding: 0; 
   }
  
   body {
     font-family: 'Poppins', sans-serif; 
     margin-top: 20px;
  }
  
   .container {
    max-width: 1750px;
    margin-left:85px;
    margin-top: 20px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
   }
  
  
  main {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    max-width: 1750px;
  }
  
  img {
    max-width: 10%;
    max-height: 10%;
    margin-left: -20px;
  }

  .header {
    display: flex;
    width: 80%;
  }

  .line {
    width: 100%;
    background-color: #5a5ecb;
    height: 3px;
    margin-top: 30px;
  }

  .wrapper {
    display: flex;
    align-items: center;
    margin: 0 auto;
  }

  .logo  {
    margin-left: -20px;
  }

  .nav ul {
    display: flex;
    align-items: center;
    font-style: normal;
    font-weight: 500;
    font-size: 23px;
    line-height: 26px;
    gap: 69px;
    list-style-type: none;
    white-space: nowrap;
  }

  .menu_item {
    color: #000;
    text-decoration: none;
  }

  .menu_item:hover{
    text-decoration: underline;
  }

  .test_title {
    text-align: center;
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 59px;
    margin: 40px 0 36px;
    font-size: 60px;
    font-family: "Gidole", sans-serif;
    font-weight: 700;
  }

  .test_box {
    background-color: #d3e3fd;
    border-radius: .25rem;
    width: 700px;
  }

  .test_box_wrapper {
    padding: 60px 30px;    
  }

  .test_box_title {
    font-size: 20px;
    flex: 1;
  }

  .test_box_start {
    flex: 1;
    display: inline-block;
    font-size: 15px;
    padding: 5px;
    border: 0;
    border-radius: .25rem;
    background-color: #0006a5;
    color: white;
  }

  .test_box_start:hover{
    cursor: pointer;
    transition: 0.2s;
    background-color: #5a5ecb;
  }

  .test_box_question {
    white-space: normal;
    text-align: left;
    padding-bottom: 20px;
  }

  .test_box_variant {
    display: flex;
    align-items: center;
  }

  .test_box_text {
    padding-left: 5px;
  }

  .test_nextTest {
    margin-top: 23px;
    display: inline-block;
    font-size: 15px;
    padding: 7px;
    border: 0;
    border-radius: .25rem;
    background-color: #0006a5;
    color: white;
  }

  .test_nextTest:hover{
    cursor: pointer;
    transition: 0.2s;
    background-color: #5a5ecb;
  }

  .test_box_button {
    background-color: #5a5ecb;
    width: 10px;
    height: 10px;
  }

  .hidden{
    display: none;
  }
  
  .results {
    display: flex;
    flex-direction: column;
    text-align: left;
  }

  .results li span {
    padding-right: 5px;

  }

  .right {
    color: rgb(56, 0, 239);
  }
  
  .false {
    color: #ff0000;
  }